/*---------------------------------------------- 
0. RESET & CLEARFIX
------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
.overlaycaption, figure,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,																			
table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0;
	border: 0;
	outline: 0;
	font-family: 'Josefin Sans', sans-serif;
}

.thumbnail {
	display: inline-block;
}

#afLogo {
	text-align: center;
	margin: 2em 0 1em 0;
}

#afLogo img {
	width: 40%;
	animation-duration: 4s;
}

ul {
	animation-duration: 4s;
	margin: 20px 0;
}

.afNav {
	background-color: white;
}

.nav ul li {
	display: inline-block;
	padding: 0 15px;
	letter-spacing: 2px;
}

nav {
	display: inline-block;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-toggle {
	float: none;
	margin-right: 0;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-collapse {
	border-color: transparent;
}

.navbar-default .navbar-nav >li > a {
	color: black;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #FFE349;
	-webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

footer {
	bottom: 0;
	position: fixed;
	z-index: 2;
	width: 100%;
	background-color: white;
}

#copyRight {
	float: left;
	padding: 2em 0 0 3em;
	display: inline-block;
}

#socialMediaList {
	display: inline-block;
	float: right;
	padding-right: 2em;
}

#socialMediaList li {
	display: inline-block;
	padding: 0 15px;
}

#socialMediaList li a {
	text-decoration: none;
	color: black;
}

#socialMediaList li a:hover {
	color: #FFE349;
	-webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

#portfolio {
	margin-top: 22em;
}

.thumbnail {
	display: inline-block;
	margin-bottom: 0;
	line-height: 0;
	border: none;
	border-radius: 0;
}

.mfp-image-holder .mfp-close {
	color: #F1EE31;
}

/*MEDIA QUERIES*/
@media(max-width: 736px) {
	#portfolio {
		margin-top: 13em;
	}
}

@media(max-width: 414px) {
	#socialMediaList li {
		padding: 0 8px;
	}
	#socialMediaList {
		padding-right: 1em;
		margin-top: 2em;
	}
	#copyRight {
		padding: 2em 0 0 2em;
	}
	#copyRight p {
		margin: 0 0 0;
	}
	.fa {
		font-size: 16px;
	}
	#afLogo img {
		width: 60%;
	}
}

